

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  }
  
  body{
    /* background: #252839; */
    background-color: white;
    color: #2894ff;
  }

  .main{
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  section{
    max-width: 1500px;
  }

  .content{
    color:red;
  }