.section-nav {
   background-color: #ffffff;
 margin-top: 50px;
 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 20px;
  font-family: sans-serif;
  font-size: 40px;
 color: #252839;
  /* color: #2894ff; */
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 0px 7px;
}
.registerbtn,
.login {
  padding: 3px 5px;
  font-size: 22px;
  border-radius: 5px;
  background: #252839;
  /* background: #2894ff; */
  transition: all 0.3s ease-in-out;
}
.nav-links {
  color: #ffffff;
  text-decoration: none;
}
.nav-links:hover{
  color: #2894ff;
}
.registerbtn:hover,
.login:hover {
  background: #ffffff;

}
