 .loginSection, .register {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 60px;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: #252839;
  /* background:#2894ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  border:  2px solid white;
  border-radius: 6px;
}

.regTitle {
  font-size: 2em;
  color: 30px 0;
  width: 310px;
  color: white;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 320px;
  border-bottom: 2px solid #ffff;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #ffff;
}
.fa-user,
.fa-lock {
  position: absolute;
  right: 8px;
  color: #ffff;
  font-size: 1.2rem;
  top: 20px;
}

.loginbtn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #ffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.loginbtn:hover{
    background:#2894ff;
    color: white;
}

@media screen and (max-width:600px){
  .loginbtn{
font-size: 14px;
  }
  .logo{
    font-size: 20px;
  }
}

